<canvas class="middleP" #canvas id="canvas" style="width: 4fr; height: 90vh;" width="4fr" height="90vh"></canvas>

<main class="page">
  <div class="evenP">
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="oddP">
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="evenP">
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="oddP">
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
</main>