<!-- <mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Email</mat-label>
  <input type="email" matInput [formControl]="formInfo" placeholder="">
  <mat-hint>Paste the url of the to be put on the plaque</mat-hint>
</mat-form-field>

<button mat-button (click)="submit()">Submit</button>

<div *ngIf="data$ | async as data">
  {{data.name}}
  <img [src]="data.images[0].url">
</div>

<canvas #canvas></canvas> -->
<main>
  <section>
    <div *ngIf="model.value; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <app-plaque [imgUrl]="imgUrl" [title]="title" [artists]="artists" [width]="canvasWidth" [height]="canvasHeight">
      </app-plaque>
    </ng-template>
    <ng-template #elseBlock>
      <app-keychain #keychain [imgUrl]="imgUrl" [title]="title" [artists]="artists" [width]="canvasWidth"
        [height]="canvasHeight">
      </app-keychain>
    </ng-template>
  </section>

  <section style="padding: 50px;">
    <h1>{{model.value ? "Spotify Plaque £6.99": "Spotify Keychain £3.50"}}</h1>
    <p>What object do you want to see this on</p>

    <mat-form-field appearance="fill">
      <mat-label>Object</mat-label>
      <mat-select [formControl]="model">
        <mat-option [value]="true">
          Plaque
        </mat-option>
        <mat-option [value]="false">
          KeyChain
        </mat-option>
      </mat-select>
    </mat-form-field>

    <form (submit)="submitForm($event)">
      <p>To view your personalised item sipmly paste the url of the spotify album or track you want to preview into the
        box below</p>
      <mat-form-field appearance="fill">
        <mat-label>Url</mat-label>
        <input matInput [formControl]="url">
        <mat-hint></mat-hint>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Preview!</button>
    </form>

    <a color="accent" mat-raised-button
      [href]="'https://docs.google.com/forms/d/e/1FAIpQLSct0rsATP6SimZsjkOvciIpP1dx7d3dWIr2Oxi_j74-5kYkrA/viewform?usp=pp_url&entry.686449402=' + url.value">Place
      your order here</a>
  </section>
</main>