<th-canvas [style]="{ width, height}">
  <th-scene>
    <th-object3D loadGLTF url="assets/keychain.glb" [position]="[0, 0, 0]">
      <th-mesh [position]="[0, 0, 0]" [rotation]="[-1.573, 0, -1.573]">
        <th-planeGeometry [args]=" [6.1,9.1]">
        </th-planeGeometry>
        <th-meshLambertMaterial [map]="texture"></th-meshLambertMaterial>>
      </th-mesh>

      <th-mesh [position]="[0, 0, 0]" [rotation]="[1.573, 0, -1.573]">
        <th-planeGeometry [args]=" [6.1,9.1]">
        </th-planeGeometry>
        <th-meshLambertMaterial [color]="whiteTexture"></th-meshLambertMaterial>>
      </th-mesh>
    </th-object3D>
    <th-ambientLight> </th-ambientLight>

    <th-perspectiveCamera [args]="[45, 2, 0.1, 100]" [position]="[-10, 10, 10]" [lookAt]="[0, 0, 0]">
      <th-orbitControls></th-orbitControls>
    </th-perspectiveCamera>
  </th-scene>
</th-canvas>