<main class="page">
  <section>
    <h2>About Us</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
      Duis
      aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaeca cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
      Duis
      aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </section>

  <section>
    <h2>Our Product</h2>
    <div class="model-box">
      <app-plaque imgUrl="https://i.scdn.co/image/ab67616d0000b273dc30583ba717007b00cceb25"
        title="Abbey Road (Remastered)" artists="The Beatles" [width]="canvasWidth" [height]="canvasHeight">
      </app-plaque>

      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
          Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
          Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </section>

  <section>
    <h2>Our Team</h2>
    <div style="display: flex; overflow-x: scroll;">
      <mat-card *ngFor="let person of people">
        <img mat-card-image [src]="person.img">
        <mat-card-title>{{person.name}}</mat-card-title>
        <mat-card-subtitle>{{person.role}}</mat-card-subtitle>
      </mat-card>
    </div>
  </section>

  <section>
    <div style="display: flex; justify-content: space-between;">
      <h2>Our Twitter</h2>
      <a href="https://twitter.com/musomaticYEP?ref_src=twsrc%5Etfw" class="twitter-follow-button"
        data-show-count="true">Follow @musomaticYEP</a>
    </div>

    <div class="tweets">
      <a class="twitter-timeline" [attr.data-theme]="themeService.theme"
        href="https://twitter.com/musomaticYep?ref_src=twsrc%5Etfw">
        Tweets by Musomatic
      </a>
    </div>
  </section>
</main>