<main class="page">
  <section>
    <h2>About Us</h2>
    <p>
      Welcome to the Musomatic website. We are a small student run business from Lornshill Academy who offer
      personalised
      music products. Our aim as a student company is to provide our customers with the highest quality product and
      buying
      experience. We believe everyone has that one song that reminds them of a special time or perhaps a special place
      so we
      want to turn that memory into a personalised product fit for you.

    </p>
  </section>

  <section>
    <h2>Our Products</h2>
    <div class="model-box-rev">
      <app-plaque imgUrl="https://i.scdn.co/image/ab67616d0000b273dc30583ba717007b00cceb25" title="Here comes the Sun"
        artists="The Beatles" [width]="canvasWidth" [height]="canvasHeight">
      </app-plaque>

      <div>
        <p>
          The plaque. This is The original product of our business which set the vision of customisable music products.
          The
          product itself is made from a varnished high quality wooden stand which displays the acrylic glass which
          features the
          song of your choice. Please use the editor below to showcase the product you could get your hands on!
        </p>
        <button mat-raised-button color="accent" routerLink="editor">Go to editor</button>
      </div>
    </div>

    <div class="model-box-nor">
      <app-keychain imgUrl="https://i.scdn.co/image/ab67616d0000b273dc30583ba717007b00cceb25" title="Here comes the Sun"
        artists="The Beatles" [width]="canvasWidth" [height]="canvasHeight"></app-keychain>

      <div>
        <p>
          Our key chain is a more small on the go product which can be taken anywhere at any time. It is made from a
          quality
          durable plastic displaying the song you have selected once again being fully customisable. Please again use
          the editor
          below to display what you could get your hands on!
        </p>
        <button style="float: right;" mat-raised-button color="accent" routerLink="editor">Go to editor</button>
      </div>

    </div>
  </section>

  <section>
    <h2>Our Team</h2>
    <div style="display: flex; overflow-x: scroll;">
      <mat-card *ngFor="let person of people">
        <img mat-card-image [src]="person.img">
        <mat-card-title>{{person.name}}</mat-card-title>
        <mat-card-subtitle>{{person.role}}</mat-card-subtitle>
      </mat-card>
    </div>
  </section>

  <section>
    <div style="display: flex; justify-content: space-between;">
      <h2>Our Twitter</h2>
      <a href="https://twitter.com/musomaticYEP?ref_src=twsrc%5Etfw" class="twitter-follow-button"
        data-show-count="true">Follow @musomaticYEP</a>
    </div>

    <div class="tweets">
      <a class="twitter-timeline" [attr.data-theme]="themeService.theme"
        href="https://twitter.com/musomaticYep?ref_src=twsrc%5Etfw">
        Tweets by Musomatic
      </a>
    </div>
  </section>
</main>