.mat-card {
  height: 400px;
  max-width: 200px;
  margin-right: 10px;
}

.mat-card-image {
  width: 200px; 
  height: 300px; 
  object-fit: fill;
}

.tweets {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

section {
  margin-top: 20px;
}

.model-box-rev {
  display: flex; justify-content: space-between; flex-direction: row-reverse;
}

.model-box-nor {
  display: flex; justify-content: space-between; flex-direction: row;
}

@media screen and (max-width: 600px) {
  .model-box-rev, .model-box-nor  {
    display: block;

  }
}